@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes reverse-bounce {
  0%, 100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-25%);
  }
}

.reverse-bounce {
  animation: reverse-bounce 1.234000s infinite ease-in-out;
}
